:root{
  --notify-width : 250px;
  --notify-height : 50px;
  --notify-countdown-height : 4px;
}

.notify-container{
    display: flex;
    width: var(--notify-width);
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;

    font-weight: 500;
}

.notifier{
    width: 100%;
    min-height: var(--notify-height);
    padding: 0 10px;
    padding-top: 10px;

    box-sizing: border-box;
    margin-bottom: 20px;

    border-radius: 2px;
    overflow: hidden;
}

.notifier p {
    width: 100%;
    height: calc(100% - var(--notify-countdown-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.notify-red{
    border: 1px solid#800000;
    background-color: rgba(255,0,0,0.8);

    color: white;
}

.notify-green{
    border: 1px solid#228b22;
    background-color: rgb(57,255,20);
}

.notify-yellow{
    border: 1px solid#f4c430;
    background-color: rgb(255,223,0);
}

.notify-countdown{
    margin-top: 10px;
    height: var(--notify-countdown-height);
    width: 100%;

    background-color: white;
}
